.container{
  text-align: center;
  padding: 110px 0 100px;
}
.backg{
  width: 100%;
  height: 75px;
  background-color: black;
}
.heading{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    letter-spacing: -3px;
    font-weight: 300;
    margin: 0;
    border-bottom: 2px solid black;
    width: 90vw;
    padding-bottom: 10px;
    text-transform: capitalize;
    margin-left: 5vw;
}
.subcontainer{
  display: flex;
  padding: 50px 12vw 50px;
  gap: 5vw;
  text-align: start;
}
.container3{
  margin: 30px 0;
}
.text{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 40px;
}
.topic{
  font-size: 28px;
  font-family: 'Playfair Display', serif;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}
.container2{
  text-align: left;
  font-family: 'Poppins', sans-serif;
}
.topic1{
  font-size: 18px;
}
.container2 p{
  font-size: 12px !important;
}
.mcontainer{
  padding: 30px 12%;
}
.img{
  width: 25vw;
  height: 350px;
  object-fit: cover;
}
.img11{
  width: 30vw;
  height: 300px;
  object-fit: cover;
}
.img1{
  width: 25vw;
  height: 250px;
  object-fit: cover;
}
.smcontainer{
  display: flex;
  gap: 8%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
}
.smcontainer2{
  display: flex;
  gap: 8%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
}
.smcontainer1{
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
  gap: 5%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}
.mheading{
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
}
.mheading1{
  font-size: 24px;
  margin: 30px 0;
  font-weight: 600;
}
.tick{
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  margin-left: 2%;
}
.check{
  background-color: black;
  width: 34px;
  border-radius: 50%;
  height: 20px;
  color: white;
}
.newtext{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  line-height: 40px;
}
.btmcontainer{
  display: flex;
  align-items: center;
  gap: 5%;
  background-color: rgb(24, 24, 24);
  padding: 50px 5% 70px;
  color: white;
  margin: 0 5%;
}
.right11{
  text-align: left;
}
@media screen and (max-width: 1200px){
  .subcontainer{
    flex-direction: column-reverse;
    padding: 30px 5vw;
  }
  .img{
    width: 100%;
    height: auto;
  }
  .mcontainer{
    padding: 30px 5%;
  }
  .smcontainer{
    flex-direction: column;
    margin-top: 20px;
  }
  .smcontainer1{
    flex-direction: column;
  }
  .smcontainer2{
    flex-direction: column;
    margin-top: 50px;
  }
  .img1{
    width: 100%;
  }
  .check{
    width: 40px;
    height: 15px;
  }
  .tick{
    margin-bottom: 20px;
  }
  .container{
    padding-bottom: 20px;
  }
}