.container{
  text-align: center;
  padding-top: 60px;
}
.backg{
  width: 100%;
  height: 75px;
  background-color: black;
}
.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
  padding-top: 40px;
}
.bannerheading{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    letter-spacing: -3px;
    font-weight: 300;
    margin: 0;
    border-bottom: 2px solid black;
    width: 90vw;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.bannerheading1{
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  letter-spacing: -3px;
  font-weight: 300;
  margin-top: 60px;
  padding-bottom: 10px;
}
.container2{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px;
  gap: 20px;
}
.container3{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px 5%;
  gap:50px 2% ;
}
.img{
  width: 20vw;
  height: 400px;
  object-fit: cover;
}
.img1{
  width: 20vw;
  height: 350px;
  object-fit: cover;
}
.button{
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  border: 1px solid black;
  background: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding: 20px;
  font-weight: 300;
  position: relative;
  transition: 0.5s;
  border-radius: 40px;
}
.active{
  cursor: pointer;
  color: white;
  border: none;
  background: rgb(120, 120, 120);
}
.button:hover{
cursor: pointer;
color: white;
background: black;
}
.btncontainer{
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 50px;
}
.artistname{
  padding-top: 10px;
  padding-left: 5%;
  font-size: 20px;
  text-align: left;
}
.profession{
  padding-left: 5%;
  font-size: 14px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}
.link{
  color: black;
  text-decoration: none;
}
.card{
  border: 1px solid rgb(225, 225, 225);
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 4px;
  width: 20vw;
  padding-bottom: 20px;
  height: 450px;
}
.alphacontainer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.alpha{
  border: 1px solid black;
  width: 2vw;
}
.selected{
  border: 1px solid black;
  width: 2vw;
  background-color: black;
  color: white;
}
.alpha:hover{
  cursor: pointer;
}
.errorcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.errormessage{
  font-size: 32px;
}
.filterbtn{
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 14px;
  padding: 5px 1vw;
  margin-top: 30px;
  width: 10vw;
}
.afilterbtn{
  background-color: white;
  border: 1px solid rgb(208, 208, 208);
  color: rgb(208, 208, 208);
  font-size: 14px;
  padding: 5px 1vw;
  margin-top: 30px;
  width: 10vw;
}
.buttons{
  display: flex;
  gap: 2%;
  justify-content: center;
}
.artistsdescont{
  display: flex;
  gap: 5%;
  padding: 30px 10%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}
.card{
  border: 1px solid rgb(225, 225, 225);
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 4px;
}
@media screen and (max-width: 1200px){
  .container2{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .img{
    width: 28vw;
  }
  .button{
    width: 17vw;
  }
}
@media screen and (max-width: 768px){
  .container2{
    margin-top: 0px;
    grid-template-columns: 1fr;
    padding: 20px 10px 10px;
  }
  .img{
    width: 100%;
  }
  .bannerheading{
    font-size: 46px;
  }
  .banner{
    padding-top: 20px;
    gap: 15px;
  }
  .btncontainer{
    gap: 10%;
  }
  .button{
    width: auto;
    margin-top: 30px;
  }
  .alphacontainer{
    flex-wrap: wrap;
  }
  .alpha{
    width: 15vw;
    padding: 5px 0;
  }
  .selected{
    width: 15vw;
    padding: 5px 0;
  }
  .alpha:hover{
    cursor: pointer;
  }
  .filterbtn{
    width: 35vw;
    padding: 15px 0;
  }
  .afilterbtn{
    width: 35vw;
    padding: 15px 0;
  }
  .container3{
    grid-template-columns: 1fr;
    height: auto;
  }
  .card{
    width: 100%;
  }
  .img1{
    width: 100%;
  }
  .artistsdescont{
    flex-direction: column;
    padding: 30px 5%;
  }
}
