.container{
  padding: 80px 15vw 30px;
  display: flex;
  gap: 5vw;
}
.imgcontainer{
  width: 30vw;
}
.img{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  object-fit: cover;
}
.formcontainer{
  padding: 0 5vw;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.form input{
  width: 30vw;
  height: 50px;
  border: none;
  border-left:1px solid rgb(69, 69, 69);
  border-top: 1px solid rgb(69, 69, 69);
  padding-left: 20px;
}
.form input::placeholder{
  color: black;
}

.form textarea{
  height: 50px;
  width: 30vw;
  height: 18vh;
  border: none;
  border-left:1px solid rgb(69, 69, 69);
  border-top: 1px solid rgb(69, 69, 69);
  padding-left: 20px;
  padding-top: 20px;
}
.form textarea::placeholder{
  color: black;
}
.form textarea:focus,.form input:focus{
  outline: none;
  background-color: var(--light-blue);
}
.button{
  color: white;
  background-color: black;
  padding: 10px 1vw;
  width: fit-content;
  border: none;
  transition: 0.3s;
}
.buttonlink{
  color: white;
  background-color: black;
  padding: 10px 3vw;
  border: 1px solid black;
  width: fit-content;
  transition: 0.3s;
  text-decoration: none;
}
.buttonlink:hover{
  background-color: white;
  color: black;
}
@media screen and (max-width: 1200px){
  .container{
    padding: 80px 5vw 30px;
  }
  .form input{
    width: 45vw;
  }
  .form textarea{
    width: 45vw;
  }
}
@media screen and (max-width: 768px){
  .container{
    padding: 80px 10px 30px;
  }
  .form input{
    width: 80vw;
    padding-left: 5%;
  }
  .form textarea{
    width: 80vw;
    padding-left: 5%;
  }
  .imgcontainer{
    width: 0vw;
  }
  .formcontainer{
    padding: 0;
    padding-right: 7vw;
  }
  .img{
    display: none;
  }
}