.container{
  position: relative;
}
.navlink{
  display: flex;
  align-items: center;
  gap: 3px;
}
.content{
  width: max-content;
  margin-top: 20px;
  padding:15px 2vw 0px;
  position: absolute;
  top: -100px;
  opacity: 0;
  visibility: hidden;
  border: 1px solid white;
  transition: 0.2s;
  transition-delay: 0.3s;
  z-index: -5;
}
.contentd{
  width: max-content;
  margin-top: 20px;
  padding:15px 2vw 0px;
  position: absolute;
  top: -100px;
  opacity: 0;
  visibility: hidden;
  border: 1px solid rgb(0, 0, 0);
  transition: 0.2s;
  transition-delay: 0.3s;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -5;
}
.content1{
  margin-top: 20px;
  padding:15px 2vw 0px;
  position: absolute;
  border: 1px solid white;
  top: -100px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  transition-delay: 0.3s;
}
.content1d{
  margin-top: 20px;
  padding:15px 2vw 0px;
  position: absolute;
  border: 1px solid white;
  top: -100px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  transition-delay: 0.3s;
}
.content .link{
  display: block;
  height: 40px;
}
.content1 .link{
  display: block;
  height: 40px;
}
.contentd .link{
  display: block;
  height: 40px;
}
.content1d .link{
  display: block;
  height: 40px;
}
.container:hover .content{
  top: 30px;
  opacity: 1;
  visibility: visible;
}
.container:hover .content1{
  top: 30px;
  opacity: 1;
  visibility: visible;
}
.container:hover .contentd{
  top: 30px;
  opacity: 1;
  visibility: visible;
}
.container:hover .content1d{
  top: 30px;
  opacity: 1;
  visibility: visible;
}
.contentd .link:hover{
  color: rgb(218, 218, 218);
}
.content1d .link:hover{
  color: rgb(218, 218, 218);
}
.content .link:hover{
  color: rgb(218, 218, 218);
}
.content1 .link:hover{
  color: rgb(218, 218, 218);
}
.secondrel,.secondrel1{
  position: relative;
}
.secab,.secab1{
  position: absolute;
  left:6vw;
  top: -500px;
  transition: 0.3s;
  border: 1px solid white;
  padding:15px 2vw 0px;
  transition-delay: 0.3s;
}
.secondrel:hover .secab{
  top: -15.5px;
}
.secondrel1:hover .secab1{
  top: -15px;
}
.secondrel,.secondrel1{
  position: relative;
}
.secabd,.secab1d{
  position: absolute;
  left:6vw;
  top: -500px;
  transition: 0.3s;
  border: 1px solid white;
  padding:15px 2vw 0px;
  transition-delay: 0.3s;
  background-color: rgba(0, 0, 0, 0.9);
}
.secondrel:hover .secabd{
  top: -15.5px;
}
.secondrel1:hover .secab1d{
  top: -15px;
}
@media screen and (max-width: 1550px){
  .secab,.secab1,.secabd,.secab1d{
    left: 100px;
  }
}
@media screen and (max-width: 768px){
  .content1{
    position: static;
    width: 80vw;
    padding: 10px 5%;
    visibility: visible;
    opacity: 1;
  }
  .content1d{
    position: static;
    width: 80vw;
    padding: 10px 5%;
    visibility: visible;
    opacity: 1;
  }
  .content{
    display: none;
  }
  .contentd{
    display: none;
  }
  .secab{
    display: none;
  }
  .secondrel:hover .secab{
    display: block;
    position: static;
    width: 70vw;
    padding: 10px 5%;
  }
  .secab1{
    display: none;
  }
  .secondrel1:hover .secab1{
    display: block;
    position: static;
    width: 70vw;
    padding: 10px 5%;
  }
  .secabd{
    display: none;
  }
  .secondrel:hover .secabd{
    display: block;
    position: static;
    width: 70vw;
    padding: 10px 5%;
  }
  .secab1d{
    display: none;
  }
  .secondrel1:hover .secab1d{
    display: block;
    position: static;
    width: 70vw;
    padding: 10px 5%;
  }
}
