.container{
  background-color: #222222;
  color: white;
  padding: 30px 5vw 90px;
  display: flex;
  gap: 30vw;
}
.left{
  width: 40vw;
}
.flex{
  display: flex;
  flex-direction: row;
  gap: 10vw;
  margin-bottom: 50px;
}
.logoimg{
  height: 80px;
  width: auto;
}
.logo{
  font-size: 32px;
  margin-bottom: 30px;
}
.one{
  margin-top: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
.list{
  padding: 0;
}
.list li{
  list-style: none;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
.icons{
  display: flex;
  justify-content: flex-end;
  font-size: 22px;
  gap: 3vw;
  margin-top: 20px;
}
.litopic{
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}
.right{
  width: 100%;
}
.desc,.desc2{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 10px;
}
.link{
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 768px){
  .flex{
    flex-direction: column;
  }
  .container{
    flex-direction: column;
    gap: 50px;
  }
  .one{
    margin-top: 40px;
  }
  .left{
    width: 100%;
  }
  .icons{
    justify-content: space-between;
  }
  .logoimg{
    height: 50px;
    width: auto;
  }
}