.container{
  background-color: rgba(1,1,0,1);
  color: white;
  padding: 0 5vw;
}
.upper{
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid rgb(21, 21, 21);
}
.list ul{
  display: flex;
  justify-content: space-between;
  width: 50vw;
}
.list ul li{
  list-style: none;
}
.list ul li a{
  color: white;
  text-decoration: none;
}
.totop{
  color: var(--brown);
  display: flex;
  align-items: center;
  gap: 5px;
}
.totop:hover{
  cursor: pointer;
}
.lower{
  display: flex;
  align-items: center;
  height: 20vh;
  padding-bottom: 10vh;
}
.icons{
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 18px;
  justify-content: space-between;
}
.left{
  display: flex;
  gap: 50px;
  width: 60vw;
}
.left1{
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  width: 30vw;
  color: rgb(188, 188, 188);
  font-weight: 300;
  line-height: 26px;
}
.right{
  display: flex;
  gap: 50px;
}
.right1{
  font-family: 'Playfair Display', serif;
  font-size: 13px;
  color: rgb(188, 188, 188);
  font-weight: 300;
  line-height: 26px;
}
@media screen and (max-width: 1200px){
  .lower{
    gap: 3vw;
  }
}
@media screen and (max-width: 768px){
  .container{
    padding: 10px 1vw 30px;
  }
  .upper{
    flex-direction: column;
    height: auto;
    align-items:center;
    justify-content:center;
    gap: 20px;
    padding: 30px 0;
  }
  .list ul{
    width: 80%;
    gap: 3vw;
    flex-wrap: wrap;
  }
  .lower{
    height: auto;
    flex-direction: column;
    padding: 0 20px;
  }
  .left{
    padding: 20px 10px;
    flex-direction: column;
    width: 100%;
  }
  .left1{
    width: 100%;
  }
  .right{
    flex-direction: column;
    width: 100%;
  }
}