.container{
  text-align: center;
  padding-top: 60px;
}
.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 5vw;
  padding-top: 50px;
}
.bannerheading{
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  letter-spacing: -3px;
  font-weight: 300;
  margin: 0;
  border-bottom: 2px solid black;
  width: 90vw;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.bannertext{
  color: var(--brown);
}
.subcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px;
  gap: 20px;
  height: 1000px;
}
.card{
  text-align: left;
  width: 16vw;
  margin-bottom: 50px;
  object-fit: cover;
}
.img{
  width: 20vw;
  height: 400px;
  object-fit: cover;
}
.name{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}
.transition{
  position: relative;
}
.price{
  font-family: 'Poppins', sans-serif;
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: black;
  top: 0;
  opacity: 1;
  transition: 0.3s;
}
.add{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  color: black;
  top: -20px;
  opacity: 0;
  transition: 0.3s;
}
.card:hover{
  cursor: pointer;
}
.card:hover .add{
  top: 0px;
  opacity: 1;
}
.card:hover .price{
  top: 20px;
  opacity: 0;
}
.link{
  color: black;
  text-decoration: none;
}
.sp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 20px 5vw 0;
}
.button{
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  border: 1px solid black;
  background: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding: 20px;
  font-weight: 300;
  position: relative;
  transition: 0.5s;
  border-radius: 40px;
}
.active{
  cursor: pointer;
  color: white;
  border: none;
  background: rgb(120, 120, 120);
}
.button:hover{
cursor: pointer;
color: white;
background: black;
}
.btncontainer{
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 50px;
}
.errorcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.errormessage{
  font-size: 32px;
}
.loading{
  position: absolute;
  top: 42%;
  left: 40%;
  height: 200px;
  width: 20vw;
}
.filtertopics{
  font-size: 24px;
}
.options2,.options1{
outline: none;
border: none;
}
.options{
  padding: 8px 0.5vw;
  border: 1px solid rgb(222, 222, 222);
}
.filterbtn{
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 14px;
  padding: 5px 1vw;
  margin-top: 30px;
  width: 10vw;
}
.afilterbtn{
  background-color: white;
  border: 1px solid rgb(208, 208, 208);
  color: rgb(208, 208, 208);
  font-size: 14px;
  padding: 5px 1vw;
  margin-top: 30px;
  width: 10vw;
}
.buttons{
  display: flex;
  gap: 2%;
  justify-content: center;
}
@media screen and (max-width: 1200px){
  .subcontainer{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card{
    width: 28vw;
  }
  .img{
    width: 28vw;
  }
}
@media screen and (max-width: 1200px){
  .subcontainer{
    grid-template-columns: 1fr;
    margin-top: 0px;
    padding: 20px 10px 10px;
  }
  .card{
    width: 100%;
  }
  .img{
    width: 100%;
  }
  .bannerheading{
    font-size: 46px;
  }
  .banner{
    padding-top: 20px;
    gap: 15px;
  }
}