@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
:root{
  --light-blue:rgb(249, 249, 249);
  --brown:#b89e4f;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  font-family: 'Playfair Display', serif;
  font-size: 55px;
  letter-spacing: -3px;
  font-weight: 300;
  margin-bottom: 0;
}
.marginleft{
  margin-left: 1vw;
}
@media screen and (max-width: 768px){
  .heading{
  font-size: 44px;
  }
}