.herosection{
  margin-top: 50px;
  background-color: var(--light-blue);
  height: 930px;
  position: relative;
}
.img{
  position: absolute;
  width: 871px;
  height: auto;
  top: 150px;
  right: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 20px 34px 75px, rgba(0, 0, 0, 0.12) 20px -22px 50px, rgba(0, 0, 0, 0.12) 20px 14px 26px, rgba(0, 0, 0, 0.17) 20px 32px 33px, rgba(0, 0, 0, 0.09) 20px -23px 25px;
}
.textarea{
  z-index: 5;
  position: absolute;
  top: 200px;
  left: 100px;
  width: 40vw;
}
.herotext{
  padding: 2vw;
  width: 20vw;
}
.herotext{
  color: rgb(45, 45, 45);
  font-size: 18px;
  font-weight: 300;
  font-family: 'Maven Pro', sans-serif;
}