.map{
  margin-top: 50px;
  width: 70vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.container h2{
  margin-top: 100px;
}
@media screen and (max-width: 768px){
  .map{width: 90vw;}
  .container h2{
    padding: 0 10px;
  }
}
