.container{
padding: 120px 5% 50px;
} 
.topic{
  font-size: 42px;
  text-align: center;
}
.flex{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 2%;
}
.card{
  width: 22%;
  height: 350px;
  position: relative;
  overflow: hidden;
}
.imgc{
  height: 270px;
  width: 100%;
}
.img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.info{
  position: absolute;
  top: 270px;
  color: white;
  padding: 10px 5%;
  transition: 0.3s;
  height: 280px;
}
.color1{
  background-color: #28464b;
}
.color2{
  background-color: #005e74;
}
.color3{
  background-color: #397b7c;
}
.color4{
  background-color: #748a8f;
}
.card:hover .info{
  top: 50px;
}
.info h4{
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 10px;
}
.info h6{
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 768px){
  .flex{
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
}