.container{
  text-align: center;
  margin-top: 100px;
}
.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: white;
  background-color: rgb(33, 18, 18);
  height: 450px;
}
.bannerheading{
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  letter-spacing: -3px;
  font-weight: 300;
  margin: 0;
}
.bannertext{
  color: var(--brown);
}