.container{
  padding: 80px 5%;
  background-color: black;
  color: white;
} 
.topic{
  font-size: 42px;
  text-align: center;
  margin-bottom: 50px;
}
.flex{
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.card2{
  padding: 30px 3vw;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  color: white;
  background-color: #005e74;
  /* -webkit-mask-image: linear-gradient(45deg,rgb(255, 255, 255) 25%,rgba(255, 255, 255, 0.4) 50%,rgb(255, 255, 255) 75%);
  mask-image: linear-gradient(45deg,rgb(255, 255, 255) 25%,rgba(247, 247, 247, 0.4) 50%,rgb(244, 244, 244) 75%);
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0; */
}
/* .card2:hover {
  transition: mask-position 2s ease,-webkit-mask-position 2s ease;
  -webkit-mask-position: 120%;
  mask-position: 120%;
  opacity: 1;
} */
.card1{
  padding: 30px 3vw;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  color: white;
  background-color: #397b7c;
}
.card{
  padding: 30px 3vw 60px;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  color: white;
  background-color: #748a8f;
}
.one{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
.two{
  font-size: 28px;
  margin-top: 40px;
}
.two span{
  font-size: 24px;
}
.three{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-top: 70px;
}
.four{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin: 40px 0 60px;
}
.btn{
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
  border: 1px solid rgb(143, 143, 143);
  padding: 15px 8vw;
  font-size: 16px;
  text-decoration: none;
}
.lists{
  margin: 40px 0 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 1vw;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
@media screen and (max-width: 768px){
  .flex{
    flex-direction: column;
    gap: 20px;
  }
  .card,.card1,.card2{
    width: 92.5%;
  }
  .topic{
    font-size: 36px;
  }
}