.container{
    height: 70vh;
    position: relative;
}
.fullcontainer{
    height: 93vh;
    position: relative;
}
.vgcontainer{
    margin-top: 7vh;
}
.fullscreenicon{
    position: absolute;
    z-index: 1000;
    top: 40px;
    right: 2vw;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.backicon{
    position: absolute;
    z-index: 1000;
    top: 40px;
    left: 2vw;
    color: white;
    width: auto;
    height: 50px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    padding: 5px 2vw;
}
.controls{
    position: absolute;
    z-index: 1000;
    bottom: 50px;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.bottom{
    display: flex;
    gap: 10px;
}
.controlbtn{
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 5px;
}
.canvas{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -10;
}
@media screen and (max-width: 768px){
    .container{
        height: 250px;
        position: relative;
    }
    .controlbtn{
        width: 30px;
        height: 30px;
    }
    .controls{
        bottom: 10px;
    }
    .fullscreenicon{
        width: 30px;
        height: 30px;
    }
    .backicon{
        width: auto;
        height: 30px;
        font-size: 16px;
    }
}